#tasksTable,
#usersTable,
#tagsTable,
.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: blue !important;
}

.statut-1 {
  background-color: lightgreen !important;
}

.statut-2 {
  background-color: rgb(233, 144, 144) !important;
}

.statut-3 {
  background-color: rgb(243, 200, 120) !important;
}
